@tailwind base;
@tailwind components;
@tailwind utilities;

#home_wrapper {
  background: linear-gradient(135deg, #83ABF7 0, #6BB0F2 60%, #52b6ec 100%);
  min-height: 100vh;
}

.txt-type {
  border-right: 0.2rem solid #777;
  animation: blink 0.75s infinite;
}

@keyframes blink {
  from { border-color: transparent }
  to { border-color: #777 }
}

/* Adjust animation speed globally for all WOW.js animations */
.wow {
  animation-duration: 1.5s !important;  /* Change this value to make it slower */
  animation-delay: 0.5s !important;    /* Optional: delay the animation */
}

/* Example for a specific animation */
.wow.slideInUp {
  animation-duration: 2s !important;  /* Slower slideInUp animation */
  animation-delay: 0.5s !important;  /* Optional delay */
}
